$header__item__size: 50px;
.hamburger {
  width: $header__item__size;
  height: $header__item__size;
  flex-shrink: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 15px;
  background-color: white;
  position: relative;


  .header {
    &__childName {
      //border-radius: 15% / 50%;
      border-radius: 25px;
      background: linear-gradient(180deg, rgba(2, 118, 241, 1) 0%, rgba(67, 104, 220, 1) 100%);
      height: $header__item__size;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__childText {
      @include Roboto(300, white);
      text-align: center;
    }

    &__childAvatar {
      color: darkgrey;
      width: $header__item__size;
      flex-shrink: 0;
      display: flex;
      justify-content: center;

      & > svg {
        width: $header__item__size;
        height: $header__item__size;
        color: darkorange;
      }
    }
    &__namesMenu{
      position: absolute;
      z-index: 99;
      width: 300px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: #f3f3f3;
      border-radius: 15px;
      border: 1px solid black;
      top: 100%;
      right: 15px;
      box-shadow: 0px 0px 200px 200px rgba(0,0,0,0.64);
      animation: showNamesMenu 0.5s ease-in-out;
      @keyframes showNamesMenu{
        from {
          transform: translateX(300px);
        }
        to {
          transform: translateX(0);
        }
      }
    }
    &__namesAvatar{
      align-self: flex-end;
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
      & > h1 {
        padding: 0 80px;
        margin: 0;
      }
      & > svg {
        width: $header__item__size;
        height: $header__item__size;
        color: darkorange;
      }
    }
    &__namesitem{

      color: blue;
    }
    &__addChild>form{
      display:flex;
      flex-direction: column;
      gap: 10px;
    }
    &__child{
      display: flex;
      gap:5px;
      flex-direction: column;
    }
    &__child > * > *{
      margin: 0px;
    }
    &__childItem{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.5rem;
    }
  }
}

